<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="audience" class="com.mjj.spring.self.spring.aop.dynamic_proxy.Audience"/>
    <aop:config>
        <aop:aspect ref="audience">
            <aop:pointcut id="play" expression="execution(* com.mjj.spring.self.spring.aop.dynamic_proxy.Player.play()))"/>
            <!--<aop:before method="takeSeats" pointcut-ref="play"/>-->
            <!--<aop:before method="turnOffCellPhones" pointcut-ref="play" />-->
            <!--<aop:after method="applaud" pointcut="execution(* com.mjj.spring.self.spring.aop.dynamic_proxy.Player.play()))"/>-->
            <!--<aop:after-throwing method="demandRefund" pointcut="execution(* com.mjj.spring.self.spring.aop.dynamic_proxy.Player.play(..))"/>-->
            <aop:around method="watchPlayer" pointcut-ref="play"/>
        </aop:aspect>
    </aop:config>

    <bean id="player" class="com.mjj.spring.self.spring.aop.dynamic_proxy.Player"/>
</beans>